# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Build
*.elf
*.hex
*.bin
*.map
*.lst

# uVision * project
*.uvgui.m
*.dep
bin/

# Common
*.bak
*.log
*.kate-swp